/* Форма для добавления новой фотографии */
.form {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: 20px auto; /* Центрируем форму по горизонтали */
  align-self: flex-end; /* Помещаем форму внизу */
}

/* Стили для полей ввода внутри формы */
.input {
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

/* Стили для кнопки внутри формы */
.button {
  color: #0056b3;
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease-in-out;
}

.button:hover {
  background-color: #0056b3;
}


